@use './mixins';

$paddingFooter : 0.43em;

footer {
  background-color: mediumturquoise;
  margin: 0;
  width: 100%;
  .footer-list {
    
   a {
      text-decoration: none;
    }
  }
}

#footer-list {
  @include mixins.flex-list;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 1.4em;
  padding-left: 0;
}

.brand-icon {
  font-size: 2rem;
}

#social-media-icons {
  @include mixins.flex-list;

  li {
    padding: 0.25em;
  }
}

.contact-footer {
  padding: $paddingFooter;
  padding-left: 0;
}

#made-by {
  margin-top: 0.3rem;
  text-align: center;
}

