// main section 
@use './mixins';

$resumeColour: cadetblue;
$workColour: darkorchid;
$skillsColour: coral;

#main-section{
  @include mixins.flex-list;
}

#main-image {
    width: 23.7em;
    border-radius: 50%;
}

.main-section {
  padding-top: 2.5rem;

  h1 {
    font-size: 4.37rem;
  }
}

.title {
  margin: 0;
}

// About me
#about-me {
  font-size: 3.5rem;
  margin-left: 12.5rem;
}

#about-me-title {
  @include mixins.about-me-title-freelancer;
}

.main-flex {
    padding: 0.75em;
}

.resume-list {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  padding: 2.5rem;
  height: 3.12rem;
  width: 3.12rem;
  border-radius: 50%;
  flex: 0 0 24px;
  margin: 12px;
  color: white;
}

.resume-link {
  text-align: center;
  text-decoration: none;
  color: white;
}

// A hard worker ...
#presentation {
  font-family:'cookie', serif, sans-serif;
  font-weight: 500;
  font-size: 1.87rem;
  color: slategray;
}

// Main page circles
#resumeP {
  background-color: $resumeColour;
}

#workP {
  background-color: $workColour;
}

#skillsP {
  background-color: $skillsColour;
}

// The Circles and their links
#main-link {
  @include mixins.flex-list;
}

// Media Main Section
@media  screen and (max-width: 480px) {
  #main-image {
    width: 20rem;
  }

  #main-section{
    display: block;
  }

  #main-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-me {
    font-size: 3.5rem;
    margin-left: 0;
  }

  #greetings, #presentation {
    text-align: center;
  }
  
}