@mixin flex-list {
  display: flex;
  list-style-type: none;
}

@mixin title {
  margin: 0;
}

@mixin about-me-title-freelancer {
  font-size: 37px;
}

@mixin circle-colour($colour: cadetblue) {
  background-color: $colour;
}

@mixin page-title {
  text-align: center;
  font-size: 2.3rem;
}
