@use './mixins';

#resume-title, #project-title {
  @include mixins.page-title;
  font-family: 'dancing script','cormorant garamond', serif, sans-serif;
  font-weight: 800;
  font-size: 2.8rem;
}

#resume-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 15em;
}

.experience {
  @include mixins.flex-list;
  align-items: center;
}

.work {
  @include mixins.title;
}

section {
  
  h4 {
    font-size: 1.2rem;
  }
}

#resume-info {
  @include mixins.circle-colour;
}

#work-experience-title {
  @include mixins.circle-colour($colour: darkorchid);
}

#education-title {
  @include mixins.circle-colour($colour: coral);
}

// Job Margin Top 
.margin-top-resume {
  margin-top: 2rem;
}

.circle-margin {
  margin-right: 5rem;
}

#skills-and-languages {
  align-self: center;
  justify-self: center;
  
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
  
}

// Media Resume
@media screen and (max-width: 480px) {
  #resume-grid {
    display: block;
  }

  .experience {
    flex-direction: column;
  }

  .circle-margin {
    margin: 0 0 0.75rem 0;
  }

  #skills-and-languages {
    text-align: center;
  }

}
